*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    bottom: 0;
}

body{
    background: peru;
}

#title{
    font-size: larger;
    color: brown;
    font-weight: bolder;
    background: lightskyblue;
    padding: 50px;
}

.flex{
    margin: 10%;
    background: lightblue;
}

.description{
    color: blueviolet;
    font-size: large;
    font-style: italic;
    font-weight: 600;
}
